form.ticksy-form .field{
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    padding: 0px 53px 0px 10px;
    color: #333;
}
.ticksy-form p {
    position: relative;
    margin-bottom: 0px;
}
form.ticksy-form p .required{
    color: #E85E3C;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 10px;
    line-height: 1;
}